
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Indice Desarrollo Humano</h1>
    <div class="col-md-4">
      <label>Estado</label>
      <select class="form-control" ng-model="mainCtrl.selectedState">
        <option ng-repeat="option in mainCtrl.states" value="{{option.name}}">{{option.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Años</label>
      <select class="form-control" ng-model="mainCtrl.year">
        <option ng-repeat="option in mainCtrl.states[0].years" value="{{option.year}}">{{option.year}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Ordenamiento</label>
      <select class="form-control" ng-model="mainCtrl.order">
        <option value="0">Alfabeticamente</option>
        <option value="1">Ascendente</option>
        <option value="2">Descendente</option>
      </select>
    </div>
    <h2>{{ mainCtrl.year }}</h2>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <bar-chart
      data="mainCtrl.states"
      selected-state="mainCtrl.selectedState"
      sort-by="mainCtrl.order"
      year="mainCtrl.year"
      >
    </bar-chart>
  </div>
</div>
